.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-toggle {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.navbar-dropdown {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    list-style: none;
    display: none;
}

.navbar-dropdown-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    display: block;
    padding: 10px;
}

.navbar-toggle:hover+.navbar-dropdown {
    display: block;
}